{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div id="masthead" class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}" title="home"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>

        <a id="icon_posts" href="/posts/">
          <span class="masthead__menu-item" data-tooltip="notice">
            <i class='fas fa-bullhorn fa-solid' style='color: var(--byeol-nebular);'></i>
          </span>
        </a>

        <a id="icon_roadmap" href="/roadmap/">
          <span class="masthead__menu-item" data-tooltip="roadmap">
            <i class='fa-road fa-solid' style='color: #c0c0c0;'></i>
          </span>
        </a>

        <a id="icon_download" href="/download/">
          <span class="masthead__menu-item" data-tooltip="download binary">
            <i class='fa-download fa-solid' style='color: var(--byeol-point);'></i>
          </span>
        </a>

        <a id="icon_guide" href="/guide/">
          <span class="masthead__menu-item" data-tooltip="byeol language guide">
            <i class='fa-book fa-solid' style='color: #af844d;'></i>
          </span>
        </a>

        <a id="icon_play" href="/play/">
          <span class="masthead__menu-item" data-tooltip="playground">
            <i class='fa-play fa-solid' style='color: var(--byeol-grass);'></i>
          </span>
        </a>

        <a id="icon_ref" href="/ref/">
          <span class="masthead__menu-item" data-tooltip="c++ reference">
            <i class='fa-search fa-solid' style='color: #F45747;'></i>
          </span>
        </a>

        <span id="dark-mode-wrapper" data-tooltip="toggle dark mode"></span>

        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>