div.initial-content {
  position: absolute;
  height: 100%;
  width: 100%;
}

div#footer {
  position: absolute;
  top: var(--footer-top);
}

div#main-content {
  z-index: 9;
}

@media(max-height: 699px) {
  :root {
    --mountain-top: -40px;
    --reflection-light: -75px;
    --reflection-light-height: 35px;
    --grass-top: -35px;
    --footer-top: calc(100dvh - 62px);
    --footer-vertical-margin: 0.5em;
    --bg-gradient-light: linear-gradient(180deg,rgba(8, 112, 209, 1) 1%, rgba(58, 148, 232, 1) 26%, rgba(39, 195, 242, 1) 46%, rgba(255, 255, 255, 1) 89%, rgba(37, 130, 250, 1) 95%, rgba(34, 125, 181, 1) 100%);
    --bg-gradient-dark: linear-gradient(180deg,rgba(11, 28, 38, 1) 1%, rgba(17, 42, 64, 1) 39%, rgba(46, 69, 89, 1) 55%, rgba(65, 137, 166, 1) 74%, rgba(97, 166, 208, 1) 92%, rgba(97, 166, 208, 1) 90%, rgba(37, 110, 156, 1) 95%);
  }
}
@media(min-height: 700px) {
  :root {
    --mountain-top: -55px;
    --reflection-light: -105px;
    --reflection-light-height: 50px;
    --grass-top: -50px;
    --footer-top: calc(100dvh - 110px);
    --footer-vertical-margin: 2em;
    --bg-gradient-light: linear-gradient(180deg,rgba(8, 112, 209, 1) 1%, rgba(58, 148, 232, 1) 26%, rgba(39, 195, 242, 1) 46%, rgba(255, 255, 255, 1) 85%, rgba(138, 199, 237, 1) 87%, rgba(37, 130, 250, 1) 92%, rgba(34, 125, 181, 1) 100%);
    --bg-gradient-dark: linear-gradient(180deg,rgba(11, 28, 38, 1) 1%, rgba(17, 42, 64, 1) 39%, rgba(46, 69, 89, 1) 55%, rgba(65, 137, 166, 1) 83%, rgba(97, 166, 208, 1) 84%, rgba(37, 110, 156, 1) 95%);
  }
}
@media(min-height: 1080px) {
  :root {
    --mountain-top: -100px;
    --reflection-light: -170px;
    --reflection-light-height: 70px;
    --grass-top: -60px;
    --footer-top: calc(100dvh - 110px);
    --footer-vertical-margin: 2em;
    --bg-gradient-light: linear-gradient(180deg,rgba(8, 112, 209, 1) 1%, rgba(58, 148, 232, 1) 26%, rgba(39, 195, 242, 1) 46%, rgba(255, 255, 255, 1) 85%, rgba(138, 199, 237, 1) 87%, rgba(37, 130, 250, 1) 92%, rgba(34, 125, 181, 1) 100%);
    --bg-gradient-dark: linear-gradient(180deg,rgba(11, 28, 38, 1) 1%, rgba(17, 42, 64, 1) 39%, rgba(46, 69, 89, 1) 55%, rgba(65, 137, 166, 1) 83%, rgba(97, 166, 208, 1) 84%, rgba(37, 110, 156, 1) 95%);

    /*linear-gradient(180deg,rgba(11, 28, 38, 1) 1%, rgba(17, 42, 64, 1) 39%, rgba(46, 69, 89, 1) 55%, rgba(65, 137, 166, 1) 74%, rgba(97, 166, 208, 1) 92%, rgba(97, 166, 208, 1) 90%, rgba(37, 110, 156, 1) 95%);*/
  }
}

@media(max-width: 499px) {
  :root {
    --logo-width: 70px;
    --aura-top: -90px;
    --aura-rays-box-top: -150px;
    --main-title-top: -135px;
    --main-title-font-size: 15px;
    --ray1-top: -140px;
    --ray1-left: 8px;
    --ray2-top: -160px;
    --ray2-left: 90px;
    --ray3-top: -80px;
    --ray3-left: 85px;
    --ray4-top: -10px;
    --ray4-left: 100px;
    --ray5-top: 25px;
    --ray5-left: 40px;
    --ray6-top: 20px;
    --ray6-left: -30px;
    --ray7-top: -30px;
    --ray7-left: -60px;
    --ray8-top: -50px;
    --ray8-left: -60px;
    --ray9-top: -85px;
    --ray9-left: -40px;
    --ray10-top: -145px;
    --ray10-left: -30px;
  }
}
@media(min-width: 500px) {
  :root {
    --logo-width: 128px;
    --aura-top: -145px;
    --aura-rays-box-top: -270px;
    --main-title-top: -250px;
    --main-title-font-size: 25px;
    --ray1-top: -110px;
    --ray1-left: 42px;
    --ray2-top: -140px;
    --ray2-left: 120px;
    --ray3-top: -50px;
    --ray3-left: 130px;
    --ray4-top: 30px;
    --ray4-left: 130px;
    --ray5-top: 80px;
    --ray5-left: 80px;
    --ray6-top: 70px;
    --ray6-left: -15px;
    --ray7-top: 15px;
    --ray7-left: -42px;
    --ray8-top: -18px;
    --ray8-left: -43px;
    --ray9-top: -65px;
    --ray9-left: -25px;
    --ray10-top: -125px;
    --ray10-left: -10px;
  }
}
@media(min-width: 900px) {
  :root {
    --logo-width: 192px;
    --aura-top: -210px;
    --aura-rays-box-top: -399px;
    --main-title-top: -370px;
    --main-title-font-size: 30px;
    --ray1-top: -110px;
    --ray1-left: 72px;
    --ray2-top: -20px;
    --ray2-left: 130px;
    --ray3-top: -30px;
    --ray3-left: 170px;
    --ray4-top: 75px;
    --ray4-left: 150px;
    --ray5-top: 110px;
    --ray5-left: 100px;
    --ray6-top: 1250px;
    --ray6-left: 150px;
    --ray7-top: 35px;
    --ray7-left: -40px;
    --ray8-top: 5px;
    --ray8-left: -20px;
    --ray9-top: -15px;
    --ray9-left: 0px;
    --ray10-top: -115px;
    --ray10-left: 10px;
  }
}

.page__footer footer {
    margin-top: var(--footer-vertical-margin);
    padding-bottom: var(--footer-vertical-margin);
}

.logo-aura {
  top: var(--aura-top);
  position: relative;
  margin: 0 auto;
	width: calc(var(--logo-width) - 5px);
	height: calc(var(--logo-width) - 5px);
	border-radius:50%;
	opacity:0.9;
}

div#main-content-logo-aura {
  top: var(--aura-rays-box-top);
}

html div#main-content-logo-aura {
	box-shadow: 0px 0px 40px 15px white;
}
html.dark-mode div#main-content-logo-aura {
	box-shadow: 0px 0px 90px 20px var(--byeol-moon);
}

html div#main-content-logo-aura-line {
	box-shadow: 0px 0px 40px 15px white;
  z-index: 2;
}
html.dark-mode div#main-content-logo-aura-line {
	box-shadow: 0px 0px 40px 10px var(--byeol-white);
  z-index: 2;
  mix-blend-mode: plus-lighter;
}

div#main-content-logo-rays {
  position: absolute;
  margin: 0 auto;
	top: 0px;
	left: 0px;
  width: var(--logo-width);
  height: var(--logo-width);
  animation: ray_anim 120s linear infinite;
}

div.ray {
		background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {
   height: 170px;
   width: 30px;
   transform: rotate(180deg);
   top: var(--ray1-top);
   left: var(--ray1-left);
}
.ray2 {
   height: 220px;
   width: 8px;
   transform: rotate(220deg);
   top: var(--ray2-top);
   left: var(--ray2-left);
}
.ray3 {
   height: 170px;
   width: 50px;
   transform: rotate(250deg);
   top: var(--ray3-top);
   left: var(--ray3-left);
}
.ray4 {
   height: 190px;
   width: 15px;
   transform: rotate(305deg);
   top: var(--ray4-top);
   left: var(--ray4-left);
}
.ray5 {
   height: 170px;
   width: 30px;
   transform: rotate(-15deg);
   top: var(--ray5-top);
   left: var(--ray5-left);
}
.ray6 {
   height: 140px;
   width: 50px;
   transform: rotate(30deg);
   top: var(--ray6-top);
   left: var(--ray6-left);
}
.ray7 {
   height: 180px;
   width: 10px;
   transform: rotate(70deg);
   top: var(--ray7-top);
   left: var(--ray7-left);
}
.ray8 {
   height: 140px;
   width: 30px;
   transform: rotate(100deg);
   top: var(--ray8-top);
   left: var(--ray8-left);
}
.ray9 {
   height: 140px;
   width: 13px;
   transform: rotate(130deg);
   top: var(--ray9-top);
   left: var(--ray9-left);
}
.ray10 {
   height: 190px;
   width: 23px;
   transform: rotate(150deg);
   top: var(--ray10-top);
   left: var(--ray10-left);
}

@keyframes ray_anim {
		0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

#main-content-header  {
  background: transparent;
  text-align: center;
  font-size: var(--main-title-font-size);
  transition: all .45s cubic-bezier(0.65, 0, 0.076, 1)
}
html #main-content-header {
  color: #2E4559;
}
html.dark-mode #main-content-header {
  color: #F3EDDB;
}

img#main-content-logo {
  margin-bottom: 20px;
  width: var(--logo-width);
  height: var(--logo-width);
  position: relative;
  z-index: 2; /* bigger than star's one */
}

div#main-content-title {
  position: relative;
  top: var(--main-title-top);
}

#main-content-navi {
  text-align: center;
  position: relative;
  top: var(--main-title-top);
}

div#main-bg {
  overflow: hidden;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 + 1px - var(--vfooter));
  transition: all .45s cubic-bezier(0.65, 0, 0.076, 1)
}

html div#main-bg {
  background: var(--bg-gradient-light);
}
html.dark-mode div#main-bg {
  background: var(--bg-gradient-dark);
}

span#dark-mode-wrapper {
  font-weight: bold;
}

[data-tooltip] {
	position: relative;
}
[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	transition: all 0.2s ease;
	font-size: 11px;
	font-family: dotum;
	letter-spacing: -1px;
}
[data-tooltip]:before {
	content: attr(data-tooltip);
	height: 13px;
	position: absolute;
	top: 55px;
	padding: 4px 10px 20px 10px;
	border-radius: 5px;
	color: #fff;
}

html [data-tooltip]:before {
  color: var(--byeol-white2);
  background: var(--byeol-night2);
}

html.dark-mode [data-tooltip]:before {
  color: var(--byeol-night2);
  background: var(--byeol-white2);
}

html [data-tooltip]:after {
	border-bottom: 5px solid var(--byeol-night2);
}

html.dark-mode [data-tooltip]:after {
	border-bottom: 5px solid var(--byeol-white2);
}

[data-tooltip]:after {
	content: "";
	border-left: 5px solid transparent;
	top: 51px;
	border-right: 5px solid transparent;
}
[data-tooltip]:not([data-tooltip=""]):hover:before {
	visibility: visible;
	opacity: 1;
	top: 40px;
}
[data-tooltip]:not([data-tooltip=""]):hover:after {
	visibility: visible;
	opacity: 1;
	top: 36px;
}

.svg-container {
  position: relative;
  bottom: 0;
  width: 100%;
}

.svg-container object {
  width: 100%;
  bottom: 0;
  object-fit: contain;
  object-position: bottom;
  position: absolute;
}

div#mountain1 {
  top: var(--mountain-top);
  filter: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(1354%) hue-rotate(164deg) brightness(84%) contrast(90%);
  opacity: 1;
}

div#mountain2 {
  top: var(--mountain-top);
  filter: brightness(0) saturate(100%) invert(63%) sepia(53%) saturate(348%) hue-rotate(160deg) brightness(87%) contrast(98%);
  opacity: 1;
  z-index: 1;
}

div#mountain3 {
  top: var(--mountain-top);
  opacity: 1;
  z-index: 1;
}

div#reflection-light {
  top: var(--reflection-light);
  width: 100%;
  position: relative;
  height: var(--reflection-light-height);
  z-index: 4;
  transition: all .45s cubic-bezier(0.65, 0, 0.076, 1)
}

html div#reflection-light {
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(161, 231, 255, 1) 100%);
}

html.dark-mode div#reflection-light {
  background: linear-gradient(0deg, rgb(114 200 255) 0%, rgba(17, 48, 95, 0) 100%)
}

div#main-bg-sea {
  width: 100%;
  position: absolute;
  top: calc(100dvh - 100px - 100px);
  height: 100px;
  z-index: 2
}

div#main-bg-sea img.tide {
  z-index: 3;
  opacity: 1;
  position: fixed;
}

img.leaf {
  position: fixed;
  z-index: 13;
  pointer-events: none;
}

div#grass {
  filter: brightness(0) saturate(100%) invert(26%) sepia(25%) saturate(1458%) hue-rotate(150deg) brightness(97%) contrast(97%);
  z-index: 6;
  top: var(--grass-top);
}

div#hill1 {
  top: var(--grass-top);
  filter: brightness(0) saturate(100%) invert(43%) sepia(39%) saturate(351%) hue-rotate(135deg) brightness(94%) contrast(95%);
  z-index: 5;
}