html .initial-content {
  background: var(--byeol-white);
}
html.dark-mode .initial-content {
  background: var(--byeol-night);
}

div.page__inner-wrap p.page__meta {
  margin-top: 0px !important;
}

.page__content.e-content {
  margin-top: 20px !important;
}