div.initial-content {
  display: flex;
}

div#masthead {
  position: fixed !important;
}

div#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  position: relative;
  margin-top: 64px;
  margin-bottom: 500px;
}

img.star {
  z-index: 10;
}

div#footer {
  position: fixed !important;
  top: var(--footer-top);
}

div.layer {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 500px;
}

img.tile {
  position: absolute;
  width: 4dvw;
  height: 4dvw;
}

div.character {
  position: absolute;
  background-size: 100% 100%; /* this ignores ratio of original image */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

html body::-webkit-scrollbar {
  border-radius: 8px;
  width: 16px;
  background-color: var(--byeol-white);
}
html body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
html body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #cfcfcf;
}
html body::-webkit-scrollbar-thumb:hover {
  background-color: var(--byeol-point);
}
html.dark-mode body::-webkit-scrollbar {
  border-radius: 8px;
  width: 16px;
  background-color: var(--byeol-night);
}
html.dark-mode body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
html.dark-mode body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: var(--byeol-night2);
}
html.dark-mode body::-webkit-scrollbar-thumb:hover {
  background-color: var(--byeol-point);
}

html div#description-content::-webkit-scrollbar {
  width: 16px;
  border-radius: 8px;
  background-color: var(--byeol-white);
}
html div#description-content::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
html div#description-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #cfcfcf;
}
html div#description-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--byeol-point);
}
html.dark-mode div#description-content::-webkit-scrollbar {
  border-radius: 8px;
  width: 16px;
  background-color: var(--byeol-night);
}
html.dark-mode div#description-content::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
html.dark-mode div#description-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: var(--byeol-night2);
}
html.dark-mode div#description-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--byeol-point);
}

div.zoom {
  z-index: 10;
  animation-name: zoomEffect;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center bottom;
  background-image: url('./../images/tile/arrow.png')
}

@keyframes zoomEffect {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

div#main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  animation-name: bgSprite;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

div#description-window {
  position: absolute;
  width: 40dvw;
  height: 40dvh;
  border-radius: 30px;
  z-index: 99;
  visibility: hidden;
  background-color: #000;
  border: 7px solid #fff;
  box-shadow: 10px 15px 0px 0px #00000047;
  color: #fff;
  display: flex;
  flex-direction: column;
}

div#description-title {
  font-weight: 600;
  text-overflow: ellipsis;
}

div#description-content {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  min-height: 0;
}

@media screen and (max-width: 499px) {
  div#description-window {
    padding: 10px;
  }
  div#description-title {
    font-size: 15px;
  }
  div#description-content {
    font-size: 15px;
  }
}

@media screen and (min-width: 500px) {
  div#description-window {
    padding: 10px;
  }
  div#description-title {
    font-size: 13px;
  }
  div#description-content {
    font-size: 13px;
  }
}
@media screen and (min-width: 700px) {
  div#description-window {
    padding: 10px;
  }
  div#description-title {
    font-size: 17px;
  }
  div#description-content {
    font-size: 17px;
  }
}
@media screen and (min-width: 900px) {
  div#description-window {
    padding: 20px;
  }
  div#description-title {
    font-size: 20px;
  }
  div#description-content {
    font-size: 20px;
  }
}

div#description-window-handle {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 99;
  visibility: hidden;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

div#darker {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--byeol-night2);
  opacity: 0;
  z-index: 98;
  transition: opacity 1s ease;
  pointer-events: none;
}
html div#darker {
  opacity: 0;
}
html.dark-mode div#darker {
  opacity: 0.4;
}

@keyframes nodeSprite {
  0% {
    background-image: url('./../images/tile/44.png');
  }
  50% {
    background-image: url('./../images/tile/45.png');
  }
}

@keyframes heroSprite {
  0% {
    background-image: url('./../images/tile/sprite1.png');
  }
  50% {
    background-image: url('./../images/tile/sprite2.png');
  }
}

@keyframes bgSprite {
  0% {
    background-image: url('./../images/tile/12.png');
  }
  50% {
    background-image: url('./../images/tile/12.png');
  }
}