div.initial-content {
  display: flex;
}

div#masthead {
  position: fixed !important;
}

div#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  position: relative;
  margin-top: 64px;
  margin-bottom: 500px;
}

div#footer {
  position: fixed !important;
  top: var(--footer-top);
}

div.layer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 500px;
}

div.layer-row {
  display: flex;
  flex-direction: row;
}

img.tile {
  position: relative;
}

@media screen and (max-width: 499px) {
  img.tile {
    width: 4.5dvw;
    height: 4.5dvw;
  }
}
@media screen and (min-width: 500px) {
  img.tile {
    width: 4dvw;
    height: 4dvw;
  }
}
@media screen and (min-width: 700px) {
  img.tile {
    width: 3dvw;
    height: 3dvw;
  }
}

div#main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  animation-name: bgSprite;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes bgSprite {
  0% {
    background-image: url('./../images/tile/12.png');
  }
  50% {
    background-image: url('./../images/tile/12.png');
  }
}