div.initial-content {
  display: flex;
}

div#masthead {
  position: fixed !important;
}

div#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  position: relative;
  margin-top: 64px;
  margin-bottom: 500px;
}

div#footer {
  position: fixed !important;
  top: var(--footer-top);
}

div.layer {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 500px;
}

img.tile {
  position: absolute;
  width: 4dvw;
  height: 4dvw;
}

div#main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  animation-name: bgSprite;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes bgSprite {
  0% {
    background-image: url('./../images/tile/12.png');
  }
  50% {
    background-image: url('./../images/tile/12.png');
  }
}