/* common styles for all scenes: */
div.scroll-stage {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: transparent;
  position: fixed;
  z-index:99;
  pointer-events: none;
}
.scene {
  width: 100%;
  position: relative;
}
.pin-bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

/* styles for each scene: */
section#UprisingRocket {
  background-color: yellow;
  height: 300vh;
}

section#TakeOff {
  height: 300vh;
}

div#rect2 {
  background-color: green;
  width: 100px;
  height: 100px;
}