---
layout: default
---

<link rel="stylesheet" href="../assets/css/download.css">

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<script type="module" src="../assets/js/download.mjs"></script>

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <div id="download">
      <button id="download-button" data-lang="download"></button>
      <details id="dropdown">
        <summary>▼</summary>
        <div id="download-dropdown">
          <a href="https://github.com/byeolang/byeol/releases/latest/download/byeol-win-x64.msi" data-lang="windows"></a>
          <a href="https://github.com/byeolang/byeol/releases/latest/download/byeol-ubuntu-x64.deb" data-lang="ubuntu"></a>
          <a href="https://github.com/byeolang/byeol/releases/latest/download/byeol-macos-arm64.zip" data-lang="mac"></a>
        </div>
      </details>
    </div>

    <div id="packaging-message" style="display: none;">
      <span id="packaging-text"></span>
    </div>
    <div id="package"></div>


    <div class="feature">
      <div class="feature-title" data-lang="feature-title1"></div>
      <div class="feature-description" data-lang="feature-desc1"></div>
    </div>

    <div class="feature">
      <div class="feature-title" data-lang="feature-title2"></div>
      <div class="feature-description" data-lang="feature-desc2"></div>
    </div>

    <div class="feature">
      <div class="feature-title" data-lang="feature-title3"></div>
      <div class="feature-description" data-lang="feature-desc3"></div>
    </div>

  </div>
</div>